@font-face {
    font-family: InstrumentSerif;
    src: url("./assets/InstrumentSerif.ttf");
}

@font-face {
    font-family: InstrumentSans;
    src: url("./assets/InstrumentSans.ttf");
}

@font-face {
    font-family: AmericanTypewriter;
    src: url("./assets/AmericanTypewriter.ttf");
}

h1 {
    font-family: InstrumentSerif;
    font-size: 35px;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: InstrumentSans;
    margin-right: 10px;;
}

ul a:hover {
    text-decoration: underline;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

h2 {
    font-family: AmericanTypewriter;
    margin-top: 50px;
    text-align: center;
}

p {
    font-family: InstrumentSans;
    text-align: center;
}

.introText {
    margin-bottom: 5rem;
    font-size: 18px;
}

/* Buttons for different pages */

/* Journal */

#journalSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 15%;
}

#journalText {
    font-family: AmericanTypewriter;
    text-align: center;
    font-size: 20px;
}

#hJournalButton {
    font-family: InstrumentSans;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

/* Tasks */

#tasksSection {
    margin-top: 3rem;
    margin-left: 65%;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

#tasksText {
    font-family: AmericanTypewriter;
    text-align: center;
    font-size: 20px;
}

#hTasksButton {
    font-family: InstrumentSans;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

/* Activities */

#activitiesSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 15%;
}

#activitiesText {
    font-family: AmericanTypewriter;
    text-align: center;
    font-size: 20px;
}

#hActivitiesButton {
    font-family: InstrumentSans;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-bottom: 40px;
}

/* All buttons */
button {
    background-color: #fdf0ae;
    border: solid black 1px;
    border-radius: 5px;;
}

button:hover {
    cursor: pointer;
}

textarea {
    display: block;
    margin: auto;
    width: 40rem;
    height: 20rem;
}

#journalButton {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    font-family: AmericanTypewriter;
}