@font-face {
    font-family: InstrumentSerif;
    src: url("./fonts/InstrumentSerif.ttf");
}

@font-face {
    font-family: InstrumentSans;
    src: url("./fonts/InstrumentSans.ttf");
}

@font-face {
    font-family: AmericanTypewriter;
    src: url("./fonts/AmericanTypewriter.ttf");
}

@font-face {
    font-family: IosevkaCharon;
    src: url("./fonts/IosevkaCharon.ttf");
}

h1 {
    font-family: InstrumentSerif;
    font-size: 35px;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: InstrumentSans;
    margin-right: 10px;;
}

ul a:hover {
    text-decoration: underline;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

#introText {
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 18px;
    text-align: center;
}

h2 {
    font-family: AmericanTypewriter;
}

.mindSpaceText {
    font-family: InstrumentSerif;
    font-size: 40px;
    margin-top: -15px;
}

#websiteIntroText1 {
    font-family: IosevkaCharon;
    max-width: 20rem;
    margin: auto;
}

#websiteIntroText2 {
    font-family: InstrumentSans;
    font-size: 16px;
    margin-top: 5rem;
}

/* Text for all sections */
#journalText,
#tasksText,
#activitiesText {
    font-family: IosevkaCharon;
    text-align: center;
    font-size: 20px;
}

/* Journal */

#journalSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 15%;
    margin-right: auto;
}

#hJournalButton {
    font-family: InstrumentSans;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

/* Tasks */

#tasksSection {
    margin-top: 3rem;
    margin-right: 15%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
}

#hTasksButton {
    font-family: InstrumentSans;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

/* Activities */

#activitiesSection {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 15%;
}

#hActivitiesButton {
    font-family: InstrumentSans;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-bottom: 40px;
}

/* All buttons */
button {
    background-color: #fdf0ae;
    border: solid black 1px;
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
}

button:hover {
    cursor: pointer;
}

textarea {
    display: block;
    margin: auto;
    width: 40rem;
    height: 20rem;
}

#journalButton {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    font-family: AmericanTypewriter;
}